* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "big carlson", "Times New Roman";
  overflow: scroll;
}

h1,
h2 {
  font-weight: lighter;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 8.5vh;
  align-items: center;
  background-color: white;
  z-index: 9999;
  border-bottom: 1px solid #e2e8f0;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-a:hover {
  color: #3f4348;
}

.nav_links li {
  list-style: none;
}

.nav_links a {
  padding: 0px;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-logo {
  font-size: 3.1rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

/* -- Forside -- */

.forside-video {
  height: 85vh;
  width: 100vw;
  object-fit: cover;
}

/* Om mig section på forside*/
.section-forside {
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 50%;
  height: 600px;
  background: url(/img/kirsten1.png) no-repeat center / cover;
}
.right {
  width: 50%;
  min-height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: black;
  margin-left: -150px;
  border: 1px solid #e2e8f0;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  font-size: 15px;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e1efeb;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
  border: 1px solid #e2e8f0;
}

.btn:hover {
  color: #3f4348;
}

.ikoner {
  height: 50%;
  width: 50%;
  margin-left: 22%;
}

.ikoner-p {
  text-align: center;
  margin-top: 15px;
}

/* -- Nyhedsbrev tilmeldelse -- */

/* Btn brugt til at åbne nyhedsbrevet - fixed til bunden af siden */
.open-button {
  background-color: transparent;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 100px;
}

.klokke {
  width: 50px;
  height: 50px;
}
/* Popup bliver gemt når den ikke er klikket */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Styling på hele containeren */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  font-size: 12px;
}

/* Styling på input boksene */
.form-container input[type="email"],
.form-container input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 12px 0;
  border: none;
  background: #f1f1f1;
}

/* Farveskift når boksene bliver klikket */
.form-container input[type="email"]:focus,
.form-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Styling på tilmeld knappen */
.form-container .btn {
  background-color: #e1efeb;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Baggrund farve på luk */
.form-container .cancel {
  background-color: #efebe0;
}

/* Hover effects til btn */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/*-- Værker --*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.price {
  color: #3f4348;
  font-size: 22px;
}

.værker-p {
  font-size: 16px;
}

.værker-h1 {
  text-align: center;
  margin-top: 2%;
  font-size: 350%;
}

/* -- Inspiration -- */
.internalcontainerLI {
  flex: 1;
  background: white;
  padding: 30px;
  font-size: 17px;
  margin: 3px;
  border: 1px solid #e2e8f0;
}

.internalcontainerMI {
  flex: 1;
  background: white;
  padding: 30px;
  font-size: 17px;
  margin: 3px;
  border: 1px solid #e2e8f0;
}

.internalcontainerRI {
  flex: 1;
  background: white;
  padding: 30px;
  font-size: 17px;
  margin: 3px;
  border: 1px solid #e2e8f0;
}

.inspo-container {
  overflow: hidden;
}

.inspo-billeder {
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.inspo-billeder:hover {
  transform: scale(1.1);
}
.dasimages {
  width: 100%;
}
.blog-links {
  color: black;
  text-decoration: none;
}

.inspo-h1 {
  text-align: center;
  font-size: 350%;
  margin-top: 2%;
}
/* -- Inspiration og Kontakt container -- */

.holdingcontainer,
.holdingcontainer3 {
  max-width: 100%;
  display: flex;
  background: white;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.internalcontainerL {
  flex: 1;
  background: white;
  padding: 30px;
  font-size: 17px;
  margin: 3px;
  border: 1px solid #e2e8f0;
}

.internalcontainerM {
  flex: 1;
  background: white;
  padding: 30px;
  font-size: 17px;
  margin: 3px;
  border: 1px solid #e2e8f0;
}

.internalcontainerR {
  flex: 1;
  background: white;
  padding: 30px;
  font-size: 17px;
  margin: 3px;
  border: 1px solid #e2e8f0;
}

/* -- Blogs --*/

.billede-1-1,
.billede-2-1,
.billede-3-1,
.billede-1-2,
.billede-2-2,
.billede-3-2,
.billede-1-3,
.billede-2-3,
.billede-3-3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Billeder på blogindlæg 1 */
.billede-1-1 {
  background-image: url(/img/blog1-1.png);
  min-height: 400px;
}
.billede-2-1 {
  background-image: url(/img/blog1-2.jpg);
  min-height: 400px;
}
.billede-3-1 {
  background-image: url(/img/blog1-3.jpg);
  min-height: 400px;
}

/* Billeder på blogindlæg 2 */
.billede-1-2 {
  background-image: url(/img/blog2-1.jpg);
  min-height: 400px;
}
.billede-2-2 {
  background-image: url(/img/blog2-2.jpg);
  min-height: 400px;
}
.billede-3-2 {
  background-image: url(/img/blog2-3.jpg);
  min-height: 400px;
}

/* Billeder på blogindlæg 3 */
.billede-1-3 {
  background-image: url(/img/blog3-1.jpg);
  min-height: 400px;
}
.billede-2-3 {
  background-image: url(/img/blog3-2.jpg);
  min-height: 400px;
}
.billede-3-3 {
  background-image: url(/img/blog3-3.png);
  min-height: 400px;
}

.parallax-h1 {
  font-size: 25px;
  margin-bottom: 30px;
}

.section {
  text-align: center;
  padding: 50px 80px;
  font-size: 17px;
}

/* -- Om mig -- */

.holdingcontainer2 {
  max-width: 100%;
  display: flex;
  background: white;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.om-h1 {
  text-align: center;
  margin: 2%;
}

.om-h2 {
  text-align: center;
  margin: 2%;
  font-size: 40px;
  color: #d0deda;
}

.om-h3 {
  font-style: italic;
}

.citat {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.5px;
}

.afKHN {
  font-size: 20px;
}

.om-video {
  width: 100%;
  height: 100%;
}

.internalcontainerLO,
.internalcontainerMO,
.internalcontainerRO {
  flex: 1;
  background: white;
  padding: 30px;
  font-size: 17px;
  margin: 3px;
}

/* -- Kontakt -- */

.map {
  width: 100%;
  height: 450px;
  border: 0;
}

.snapwidget-widget {
  border: none;
  overflow: hidden;
  width: 100%;
  margin-top: 55px;
}

/* -- Footer -- */

.footer-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-li {
  list-style: none;
}
footer {
  background-color: #ffffff;
  padding: 70px 0;
  border-top: 1px solid #e2e8f0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col,
.footer-h4 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #e1efed;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col,
.footer-ul,
.footer-li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col,
.footer-ul,
.footer-li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #3f4348;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #e1efed;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000000;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col .social-links a:hover {
  flex-direction: row;
  color: #000000;
  background-color: #ffffff;
}

/* -- Responsive -- */

@media screen and (max-width: 1024px) {
  /* Navbar */
  .nav_links {
    width: 60%;
  }

  /* Værker */
  .holdingcontainer3 {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  /* Navbar */

  body {
    overflow: hidden;
  }
  .nav_links {
    position: fixed;
    right: 0px;
    height: 50vh;
    top: 8vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    z-index: 1;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
  }

  /* Forside */
  .container {
    flex-direction: column;
    width: 100%;
    margin: 50px 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }

  /* Forside, kontakt og inspiration holdingcontainer  */
  .holdingcontainer {
    flex-direction: column;
  }

  /* Footer */
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  /* Footer */
  .footer-col {
    width: 100%;
  }
}

@media (max-width: 568px) {
  /* Blogs - fjerner parallaxefekt på mobil -*/
  .billede-1-1,
  .billede-2-1,
  .billede-3-1,
  .billede-1-2,
  .billede-2-2,
  .billede-3-2,
  .billede-1-3,
  .billede-2-3,
  .billede-3-3 {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 1400px) {
  /* Om mig holdingcontainer */
  .holdingcontainer2 {
    flex-direction: column;
  }
}
